html{
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

h1{
    text-transform: capitalize;
}

table{
    padding: 1em;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

th{
    background-color: black;
    color: white;
    padding: 1.5em;
}

td{
    padding: 8px 16px;
}

tr:nth-child(2n+1){
    background-color: #a3a3a3;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}